.current-pick-card-body {
    border: 1px solid red;
    margin: 25px;
    padding: 10px 20px 20px 20px;
    text-align: center;
}

.cpc-button-wrap {
    display: flex;
    width: 100%;
}

.cpc-button {
    width: 200px;
}